main {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.my-4 {
    display: inline-block;
    left-margin: auto;
    right-margin: auto;
    content-align: center;
}

.form-control {
    display: inline-block;
    text-align: center;
}

#submit-comment {
    margin-top: 10px;
}

.card-text-1 {
    margin-top: 10px;
    color: #DAA520; 
}

.jumbotron {
    margin-bottom: -70px;
}

